<div class="container">
	<div class="row section-header">
		<div class="col-md-12">
			<h3>Article detail</h3>
		</div>
	</div>

	<form novalidate="novalidate" class="form-horizontal">
		<div class="row">
			<div class="col-md-3">
				<label class="control-label">Source:</label>
				<div>{{article.source}}</div>
			</div>
			<div class="col-md-3">
				<label class="control-label">Author:</label>
				<div>{{article.author}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label class="control-label">Headline:</label>
				<div>{{article.headline}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label class="control-label">Lead:</label>
				<div class="controls">
					<span>{{article.lead}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label class="control-label">Reference to source:</label>
				<div><a href="{{article.referenceToSource}}" target="_blank">{{article.referenceToSource}}</a></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="control-label">Article date:</label>
				<div>{{article.articleDate | date: 'dd/MM/yyyy'}}</div>
			</div>
			<div class="col-md-3">
				<label class="control-label">Article detected:</label>
				<div>{{article.detectedDate | date: 'dd/MM/yyyy'}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label class="control-label">Story:</label>
				<div class="controls">
					<span>{{article.story}}</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<br>
			<div class="controls">
				<a ng-click="remove()" ng-show="isRemove" class="btn btn-sm btn-danger">Confirm</a>
				<a ng-click="cancel()" ng-show="isRemove" class="btn btn-sm btn-primary">Cancel</a>
				<a ng-click="cancel()" ng-show="!isRemove" class="btn btn-sm btn-primary">Close</a>
			</div>
		</div>
	</form>
</div>
