<div class="container">
    <h1>Article detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="headline">Headline:</label>
            <div class="controls">
                <span>{{article.headline}}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="author">Author:</label>
            <div class="controls">
            	<span>{{article.author}}</span>
            </div>
        </div>
        <div class="control-group">
        	<br>
            <div class="controls">
            	<a ng-click="remove()" ng-show="isRemove" class="btn btn-sm btn-danger">Confirm</a>
                <a ng-click="cancel()" ng-show="isRemove" class="btn btn-sm btn-primary">Cancel</a>
                <a ng-click="cancel()" ng-show="!isRemove" class="btn btn-sm btn-primary">Close</a>
            </div>
        </div>
    </form>
</div>
