<div class="container">
    <h1>Article detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="headline">Headline:</label>
            <div class="controls">
                <input type="text" id="headline" ng-model="article.headline"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="author">Author:</label>
            <div class="controls">
                <input type="text" id="author" ng-model="article.author"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="update()" class="btn btn-small btn-primary">Update</a>
                <a ng-click="cancel()" class="btn btn-small">Cancel</a>
            </div>
        </div>
    </form>
</div>
